@import '~antd/dist/antd.css';

.container{
  width: 60vw;
  margin: 18vh auto;
  border: 1px solid grey;
}
.text-center{
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.add-category{
  display: inline-block;
  padding: 8px 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.cursor{
  cursor: pointer;
  padding-right: 5px;
  padding-left: 4px;
}

.category_input{
  width: 85%;
}

.btn-keyword{
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 4px 10px;
}

.show{
  display: inline-block;
  cursor: pointer;
}

.hidden{
  display: none;
}